<section>
  <div class="row">
    <div class="container">
      <div class="contact">
        <div class="col-sm-4 col-sm-offset-2">
          <h2>Address</h2>
          <p>186 Buckhurst Street,<br>South Melbourne<br>3205</p>
        </div>
        <div class="col-sm-4">
          <h2>Details</h2>
          <p>
            <span>Phone:</span> (03) 9645 9000<br>
            <span>Email:</span> <a href="mailto:plobartolo@apc-vic.com">plobartolo@apc-vic.com</a><br>
            <span>Facebook:</span><a href="www.facebook.com/advancedpropertyconstruction">/advancedpropertyconstruction</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
