h1{Dicks}+p*5>b{hurrrr}
yeah, i don't write html at all, only emmet stuff.

so wht is emmet actually?
it just expands this compact thing into html
ctrl+e to expand

<div id="content-id" class="container">
  <div class="row more-classes">
    <div class="row-xs-3">wow. i gotcha. hey so i was working on a project recently and was typing html like thiscontent</div>
  </div>
  <div class="row more-classes">
    <div class="row-xs-3">content</div>
  </div>
  <div class="row more-classes">
    <div class="row-xs-3">content</div>
  </div>
</div>

row
  col-sm-12
    p Oh hai there

    yeah, that's some kind of templating system, they're pretty popular
    personally i don't like them, because there are edge cases which make it really ugly to use, i just write html, but with emmet so that it's not tedious

    i think i love rails
    it's pretty sweet, with the right bits of knowledge
    and then it can expand to a massive site if you want

    awesome man i'll take this lesson and start building a site.

    i'll see if i can finish layout tonight.

    so do most plugins have rails gems? what are gems and why are they useful instead of doing things traditionally? ie – downloading a js file or something

    if you find a gem for a project, like say, bootstap, it's likely that they do a bunch of stuff for you already, and you can keep it updated/pinned to 
    a certain version easily

    but if you just want to include a js file or css, you can do that

    this site structure is basically what i'm doing with steph's dog training website right now, so you can basically deploy this app right now on heroku
    (it would take a bunch of work in reality, but only with weird deployment things, the site is fine though)

    and you can take what you have here, delete all the stuff in templates, and reuse it for new projects later by just copying/pasting the directory
