<section class="breaker breaker4" data-stellar-background-ratio="0.5"></section>

<section class="title">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="centered">
          <h2>Multi residential</h2>
          <div class="separator"></div>
          <h3>Advanced find the balance between the efficient use of space, material and cost to generate the highest value.</h3>
        </div>
      </div>
    </div>

    <div id="carousel-hero" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-hero" data-slide-to="1"></li>
        <li data-target="#carousel-hero" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <a href="luxury" class="item active">
          <%= image_tag ("body/carousel/luxury.jpg") %>
        </a>
        <a href="multi_residential" class="item">
          <%= image_tag ("body/luxury/random.jpg") %>
        </a>
        <a href="renovations" class="item">
          <%= image_tag ("body/carousel/luxury.jpg") %>
        </a>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-hero" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-hero" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>

<section class="alt_backer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag('body/luxury/tap.jpg', :class=> "img-responsive") %>
      </div>
      <div class="col-sm-6">
        <h2>Investing?</h2>
        <div class="separator_left"></div>
        <p>We've done this many times, for many years. We understand the value we can add by sub-dividing. Get in contact with us today to find out how we can add to your property. Also, learn how to <a href="buildtwo_buildnew">Build Two Build New</a>.</p>
        <a href="mailto:sales@apc-vic.com" class="button">Contact us</a>
      </div>
    </div>
  </div>
</section>

<section class="alt_secondary testimonial_block centered">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>“I was given options regarding various aspects of the home and nothing seemed too difficult for Advanced.”</h3>
        <p class="cite">Chris Rabba</p>
      </div>
    </div>
  </div>
</section>


<section class="quick_contact">
  <div class="container">
    <h3>Contact <strong>03 9645 9000 </strong> or <a href="mailto:sales@apc-vic.com">email us</a> to get started on your new project.</h3>
  </div>
</section>
