// Here is where you overwrite bootstrap variables

 @import "bootstrap-sprockets";
 @import "bootstrap";


/* overwrite bootstrap less */
/* \$grid-gutter-width: 10px; */


body{
  font-size:16px;
  line-height:1.5em;
  color:#053b4c;
}

.carousel-caption{background:#fff;}





/* typography */
nav li a{
  font-family: 'Open Sans', sans-serif;
  }
p,h1,h2,h3,h4{
  font-family: 'Merriweather', serif;
  }
