// Here is where you overwrite bootstrap variables

 @import "bootstrap-sprockets";
 @import "bootstrap";


/* overwrite bootstrap less */
/* \$grid-gutter-width: 10px; */

/* universal */

$brand: #0a2335;
$brand-lighter: #18566b;
$secondary: #ce4142;
$tertiary: #8b9096;
$dark: #131515;
$stroke: #dfdfdf;
$alt_secondary: #00acbf;

body{
  font-size:16px;
  line-height:1.5em;
  color:$brand;
  background-color:#fafafa;
}

section{
  border-bottom:1px solid $stroke;
  padding:60px 0;

}

.alt_backer{
  background:#fff;
}


/* typography */
nav li a{
  font-family: 'Open Sans', sans-serif;
  }
p,h1,h2,h3,h4, ul li{
  font-family: 'Merriweather', serif;
  font-weight:200;
  }

h1{
  font-size:40px;
  line-height:1.3em;
}

h2{
  font-size:40px;
  line-height:1.3em;
  padding-bottom:20px;
}

h3{
  font-size:23px;
  line-height:1.5;
}

p{
  padding-bottom:1.5em;
  line-height:1.9;
}

.centered{
  text-align:center;
}

ul li{
  list-style-type:none;
}

/* separator */
.separator{
  display:block;
  border-top: 3px solid $secondary;
  background:none;
  width:150px;
  margin:0 auto;
  padding-bottom: 1.5em;
}

.separator_left{
  display:block;
  border-top: 3px solid $secondary;
  background:none;
  width:150px;
  padding-bottom: 1.5em;
}

/* buttons */
.button{
  border: 1px solid $brand-lighter;
  border-radius:3px;
  color: $brand-lighter;
  font-size:13px;
  background: none;
  cursor: pointer;
  padding: 25px 40px;
  display: inline-block;
  margin: 15px 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover{
  background: $brand-lighter;
  color:#fff;
  text-decoration:none;
}

.button-secondary{
  padding:15px;
  border:1px solid #bbb;
  color:#999;
}

.button-secondary:hover{
  border:1px solid $brand-lighter;
}



/* main */
/* ---------------------------------------------------------------- */


/* heroes */
.hero{padding:0;}


.navbar{
  background: rgba(0,0,0,0.4);
  border-radius:0;
  margin-bottom:0;
  padding:30px 0 20px;
  -webkit-transition: all 0.4s ease; /* Safari and Chrome */
  -moz-transition: all 0.4s ease; /* Firefox */
  -ms-transition: all 0.4s ease; /* IE 9 */
  -o-transition: all 0.4s ease; /* Opera */
  transition: all 0.4s ease;
  .nav li{
    padding:20px 0 0px;
    transition: all 0.4s ease;
    a{
      text-transform:uppercase;
      padding-bottom:5px;
      color:#fff;
      font-size:13px;
      letter-spacing:3px;
      &:hover{
        background:none;
      }
    }
  }
}

.navbar .nav li a::after {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: $secondary;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navbar .nav li a:hover::after,
.navbar .nav li a:focus::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-brand{
  padding:0;
  -webkit-transition: all 0.4s ease; /* Safari and Chrome */
  -moz-transition: all 0.4s ease; /* Firefox */
  -ms-transition: all 0.4s ease; /* IE 9 */
  -o-transition: all 0.4s ease; /* Opera */
  transition: all 0.4s ease;
  }

.navbar-change{
  background: $brand;
  padding:15px 0 10px;
  .navbar-brand{
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8);
  }
  .nav li{
    padding:10px 0;
  }
}

.carousel-caption{
  background:rgba(0,0,0,0.36);
  text-shadow:none;
  bottom:0;
  width:100%;
  padding-bottom:30px;
  left:0;
  p{
    font-style:italic;
  }
}

.quick_contact{
  color:$tertiary;
  text-align:center;
  padding:30px 0 40px;
}

.options{
  .option{
    background:#fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.13);
    border-radius:3px;
    text-align:center;
    padding-bottom:40px;
    .image{
      width: 100%;
      height:100%;
      overflow: hidden;
      img{
        padding-bottom:20px;
        border-radius:3px;
        -webkit-transition: all 0.4s ease; /* Safari and Chrome */
        -moz-transition: all 0.4s ease; /* Firefox */
        -ms-transition: all 0.4s ease; /* IE 9 */
        -o-transition: all 0.4s ease; /* Opera */
        transition: all 0.4s ease;
        &:hover{
          -webkit-transform:scale(1.1); /* Safari and Chrome */
          -moz-transform:scale(1.1); /* Firefox */
          -ms-transform:scale(1.1); /* IE 9 */
          -o-transform:scale(1.1); /* Opera */
          transform:scale(1.1);
        }
      }
    }
    p{
      padding:20px 15px;
    }
  }
}

.breaker{
  height:520px;
  padding:0;
  display:block;
  border:none;
}

.breaker1{background: url('body/breakers/breaker.jpg')fixed no-repeat; background-position: left 450px; height:420px;}
.breaker2{background: url('body/breakers/2.jpg')fixed no-repeat;}
.breaker3{background: url('body/breakers/3.jpg')fixed no-repeat;}
.breaker4{background: url('body/breakers/4.jpg')fixed no-repeat;}
.breaker5{background: url('body/breakers/5.jpg')fixed no-repeat;}
.breaker6{background: url('body/breakers/6.jpg')fixed no-repeat;}


.recognition{
  background: url('body/recognition/backer.jpg') no-repeat;
  border:none;
  p {
    color:#eef1f5;
  }
  a{
    color:#eef1f5;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
      color:#09f;
    }
  }
  img{
    margin-bottom:40px
  }
}

.alt_secondary{
  color:#fff;
  background:$alt_secondary;
  border:none;
  .checks{
    background:#009aab;
    padding:30px;
    li{
      font-size:28px;
      font-weight:100;
      line-height:2.0em;
    }
  }
}

.title h3{
  padding-bottom: 60px;
}

.testimonial_block{
  p.cite{font-style:italic;}
}


footer{
  background: $dark;
  padding:30px 0 10px;
  color:#aeb0b3;
  p{
    font-size:12px;
  }
}
